@import url(style.css);

*,
*::before,
*::after { 
  box-sizing: border-box;
}


body { 
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* Button 2*/

.button2 {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--cor03);
  border: none;
  color: var(--cor01);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.2);
}

.button2 a {
  color: var(--cor01);
  font-weight: bold;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: var(--cor02);
  border-radius: 0.8rem;
  box-shadow: 10px 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  /*filter: contrast(100%);*/
  /*filter: saturate(180%);*/
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; /* 16:9 aspect ratio*/
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; /* 3:2 aspect ratio*/
    }
  }
}

.card__image--flowers {
  background-image: url('../images/logo.png');
}

.card__image--software {
  background-image: url('../images/icon1.png');
}

.card__image--artwork {
  background-image: url('../images/icon2.png');
}

.card__image--contact {
  background-image: url('../images/icon3.png');

}

/*portfolio page*/
.card__image--kiuistudio {
  background-image: url('../images/proj/01.png');
}

.card__title {
  color: var(--cor03);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 1.25rem;
}

